.thisbtn{
	background: $color1!important;
}
.thisbtn1{
    border-radius: 56px;
    padding: 25px;
}
.ml{
    margin-left: -38px;
}
.post_btn:hover{
	border-radius:0px;
	background: $wh;
	box-shadow: 10px 10px 26px 0px rgba(227,231,235,1);
}
.g-btn{
	background: linear-gradient(60deg, $color3, $color4)!important;
	color: #fff;
}
.btn-primary{
	background: #1845FC!important;
}
.thisbenoutling{
	border:2px solid;
	border-image-source: linear-gradient(45deg, $color2, $color1);
	border-image-slice: 1;
	padding: 5px 150px;
	-webkit-box-shadow: -4px -2px 5px 0px rgba(251,81,26,0.33);
	-moz-box-shadow: -4px -2px 5px 0px rgba(251,81,26,0.33);
	box-shadow: -4px -2px 5px 0px rgba(251,81,26,0.33);
}
.border-r25{
	border-radius: 25px;
}
.fa-plus:before {
    content: "\f067";
}