#allreview{
	background: url('../img/review.jpg');
	background-size: 100% 100%; 
	background-repeat:no-repeat; 
	min-height: 100vh;
	.single-review{
		    border-radius: 36px;
	}
	.active{
		background: #fff!important;
	}
	.owl-nav{
		.owl-prev{
			position: absolute!important;
	    	top: 37%!important;
		    left: 0%!important;
		    border: 1px solid #FB511A!important;
		    font-size: 58px!important;
		    border-radius: 50%!important;
		    width: 33px!important;
		    height: 33px!important;
		}
		.owl-next{
			position: absolute!important;
	    	top: 37%!important;
		    right: 0%!important;
		    border: 1px solid #FB511A!important;
		    font-size: 58px!important;
		    border-radius: 50%!important;
		    width: 33px!important;
		    height: 33px!important;
		}
		span{
			position: absolute;
		    top: -31px;
		    left: 10px;
		}
	}
}

.owl-item{
	border-radius: 20px!important;
}