#todayrate{
	.single-box{
		-webkit-box-shadow: -20px -17px 23px -14px rgba(57,73,76,.35); 
		box-shadow: -20px -17px 23px -14px rgba(57,73,76,.35);
		width: 250px;
		margin: auto;
		p{
			font-weight: 700;
		}
	}
	.color11{
		background: #FF8427!important;
		font-weight: 700!important;
		font-size: 30px;
	}
}