@import url('dependancy/bootstrap.min.css');
@import url('globalcssmodule/__var.css');
@import url('globalcssmodule/__typography.css');
@import url('globalcssmodule/__btn.css');
@import url('sectioncssmodule/__footer.css');
@import url('sectioncssmodule/__header.css');

.active a{
	color: $color1!important;
}
#register{
	.contentr{
		margin: auto;
	}
}
.getwayicon{
	position: absolute;
	top: 3px;
	left: 21px;
}

.getwayiconr{
	position: absolute;
	top: 3px;
	right: 21px;
}
.img-responsive{
	 width:250px!important;
}

@media (max-width: 330px) {
	.img-responsive{
		width:200px!important;
	}
}
