<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->
  <link rel="stylesheet" href="temp/styles/styles.css">
</head>
<body style="width: 100%;overflow-x: hidden!important;">
<!--[if lte IE 9]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

<header id="header1" class="header1">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#"><img src="./temp/img/logo1.png" alt="" width="183px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <img src="./temp/img/svgicon/toggle.svg" alt="" width="20px;">
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto marginh text-center">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Exchange</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="contac.html">Contect</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#">Review</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#">FAQ</a>
          </li>
        </ul>
        <div>
          <a href="" class="px-3 margin1rem btn btn-sm thisbtn">Login</a>
          <a href="register.html">Register</a>
        </div>
      </div>
    </nav>
  </div>
</header>

<section id="service" class="py-5">
  <div class="container">
    <div class="thicontainer">
      <h3 class="text-center py-4">Tell us about your isssue so we can help you more quickly.</h3>
    </div>
  </div>
</section>

<section id="service" class="py-5 bg-light">
  <div class="container">
    <div class="thicontainer">
      <div class="row nav nav-tabs" id="myTab" role="tablist">
        <div class="col-md-4 nav-item text-center active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"> 
          <div class="singlecontack">
            <img src="./temp/img/images/ssdf.png" alt="" width="70px;">
            <h3>Chat with us</h3>
            <p>Select an issue above</p>
          </div>
        </div>
        <div class="col-md-4 text-center" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
          <div class="singlecontack">
            <img src="./temp/img/images/fsdf.png" alt="" width="70px;">
            <h3>Chat with us</h3>
            <p>Select an issue above</p>
          </div>
        </div>
        <div class="col-md-4 text-center" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
          <div class="singlecontack">
            <img src="./temp/img/images/sdfsdf.png" alt="" width="60px;">
            <h3>Chat with us</h3>
            <p>Select an issue above</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contac" class="py-5">
  <div class="container">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
         <div class="row">
            <div class="col-md-3">
              <label for="" class="font-weight-bold">Email Address :</label>
            </div>
            <div class="col-md-9">
              <input type="text" placeholder="Email Address" class="form-control w-50">
            </div>
            <br>
            <br>
            <div class="col-md-3">
              <label class="font-weight-bold">First name :</label>
            </div>
            <div class="col-md-9">
              <input type="text" placeholder="First name " class="form-control w-50">
            </div>
            <br>
            <br>
            <div class="col-md-3">
              <label class="font-weight-bold">Last name :</label>
            </div>
            <div class="col-md-9">
              <input type="text" placeholder="Last name" class="form-control w-50">
            </div>
            <br>
            <br>
            <div class="col-md-3">
              <label class="font-weight-bold">User name :</label>
            </div>
            <div class="col-md-9">
              <input type="text" placeholder="User name" class="form-control w-50">
            </div>
            <br>
            <br>
            <div class="col-md-3">
              <label class="font-weight-bold">Topic :</label>
            </div>
            <div class="col-md-9">
              <input type="text" placeholder="Topic" class="form-control w-50">
            </div>
            <br>
            <br>
            <div class="col-md-3">
              <label class="font-weight-bold">The Comment (up to 1000 char)*:</label>
            </div>
            <div class="col-md-9">
              <textarea name="" id="" cols="20" rows="5" class="form-control w-50"></textarea>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="col-md-3">
              <label class="font-weight-bold">Add Addachment : (Optional)</label>
            </div>
            <div class="col-md-9">
              <input type="file" placeholder="Email Address" class="form-control w-50">
            </div>
            <br>
            <br>
            <div class="text-right col-md-12">
              <button class="btn thisbtn text-white">Submit</button>
            </div>
          </div>
      </div>
      <div class="tab-pane fade text-center" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <p>+8801784622362</p>
        <p>+8801784622362</p>
        <p>+8801784622362</p>
        <p>+8801784622362</p>
      </div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        dddddddd
      </div>
    </div>
  </div>
</section>

<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
         <img class="logoddd" src="./temp/img/logo1.png" alt="" width="350px">
         <div class="lists">
            <a href="#">EHT</a>
            <a href="#">Exchange</a>
            <a href="#">Contect</a>
            <a href="#">Review</a>
            <a href="#">Rules</a>
            <a href="#">Help</a>
            <a href="#">FAQS</a>
            <a href="#">Privacy & Policy</a>
        </div>
        <p class="text-right"><a class="text-white" href="">@2019-2019</a></p>
      </div>
      <div class="col-md-2">
        <h4 class="text-white">Follow Us</h4>
        <img src="./temp/img/images/allinco_05.png" alt="" width="40px">
        <img src="./temp/img/images/allinco_07.png" alt="" width="40px">
      </div>
    </div>
  </div>
</footer>

<script src="temp/scripts/App.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
