<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->
  <link rel="stylesheet" href="temp/styles/owl.carousel.min.css">
  <link rel="stylesheet" href="temp/styles/owl.theme.default.min.css">
  <link rel="stylesheet" href="temp/styles/styles.css">
</head>
<body style="width: 100%;overflow-x: hidden!important;">
<!--[if lte IE 9]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

<header id="header" class="header2">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#"><img src="./temp/img/logo1.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <img src="./temp/img/svgicon/toggle.svg" alt="" width="20px;">
      </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto marginh text-center">
          <li class="nav-item">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Exchange</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="contac.html">Contect</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#">Review</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#">FAQ</a>
          </li>
        </ul>
        <div>
          <a href="" class="px-3 margin1rem btn btn-sm thisbtn mr-3">Login</a>
          <a href="register.html">Register</a>
        </div>
      </div>
    </nav>
    <div class="content py-2">
      <marquee class="text-white btn g-btn btn-sm border-r15">NOTE:Your Registered email and number must be verified then your account automatically actavited and you can set up the exchange, you do not have to pay the transfer fee if you buy above $20</marquee>
      <h1 class="text-white">Internationa currency exchange</h1>
      <ul class="text-white">
        <li class="py-1">Quentity of service if our advantage</li>
        <li class="py-1">Working 24 hours a day 24/7</li>
      </ul>
      <form action="">
        <div class="row">
          <div class="col-md-4">
            <div class="from-group text-white">
                <label class="typo__label">I GIVE</label>
                <multiselect v-model="value" placeholder="Fav No Man’s Sky path" label="title" track-by="title" :options="options" :option-height="104" :custom-label="customLabel" :show-labels="false">
                  <template slot="singleLabel" slot-scope="props">
                    <img width="30px" class="option__image" :src="props.option.img" alt="No Man’s Sky">
                    <span class="option__desc">
                      <span class="option__title">{{ props.option.title }}</span>
                    </span>
                  </template>
                  <template slot="option" slot-scope="props">
                    <img width="30px" class="option__image" :src="props.option.img" alt="No Man’s Sky">
                    <span class="option__title">{{ props.option.title }}</span>
                    <span class="option__small">{{ props.option.desc }}</span>
                  </template>
                </multiselect>
                <span>Minimum : 5 USD</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="from-group text-white">
              <label for="">I GET</label>
              <multiselect v-model="value" placeholder="Fav No Man’s Sky path" label="title" track-by="title" :options="options" :option-height="104" :custom-label="customLabel" :show-labels="false">
                <template slot="singleLabel" slot-scope="props">
                  <span v-if="props.option.img">
                    <img width="30px" class="option__image" :src="props.option.img" alt="No Man’s Sky">
                  </span>
                  <span v-else>
                     <img width="30px" class="option__image" :src="props.option.img" alt="No Man’s Sky">
                  </span>
                  <span class="option__desc">
                    <span class="option__title">{{ props.option.title }}</span>
                  </span>
                </template>
                <template slot="option" slot-scope="props">
                  <img width="30px" class="option__image" :src="props.option.img" alt="No Man’s Sky">
                  <span class="option__title">{{ props.option.title }}</span>
                  <span class="option__small">{{ props.option.desc }}</span>
                </template>
              </multiselect>
              <span> Reserve amount : 5 USD</span>
            </div>
          </div>
        </div>
        <br>
        <button type="sumbit" class="btn btn-primary">Exchange</button>
      </form>
    </div>
  </div>
</header>

<section id="todayrate" class="py-5">
  <div class="container">
    <h3 class="text-center pb-4"><button class="btn btn-lg thisbtn text-white">Today USD Rate</button></h3>
    <div class="row">
      <div class="col-md-4">
        <div class="single-box py-4 text-center">
          <div class="singlegetway">
            <img src="./temp/img/images/allinco_01.png" alt="" width="50px">
            <p>buy:25 USD,sale:30 USD</p>
          </div>
           <div class="singlegetway">
            <img src="./temp/img/images/allinco_02.png" alt="" width="50px">
            <p>buy:25 USD,sale:30 USD</p>
          </div>
           <div class="singlegetway">
            <img src="./temp/img/images/allinco_03.png" alt="" width="50px">
            <p>buy:25 USD,sale:30 USD</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="single-box py-4 text-center">
          <div class="singlegetway">
            <img src="./temp/img/images/allinco_04.png" alt="" width="50px">
            <p>buy:25 USD,sale:30 USD</p>
          </div>
           <div class="singlegetway">
            <img src="./temp/img/images/allinco_05.png" alt="" width="50px">
            <p>buy:25 USD,sale:30 USD</p>
          </div>
           <div class="singlegetway">
            <img src="./temp/img/images/allinco_01.png" alt="" width="50px">
            <p>buy:25 USD,sale:30 USD</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="single-box py-4 text-center">
          <div class="singlegetway">
            <img src="./temp/img/images/allinco_01.png" alt="" width="50px">
            <p>buy:25 USD,sale:30 USD</p>
          </div>
           <div class="singlegetway">
            <img src="./temp/img/images/allinco_02.png" alt="" width="50px">
            <p>buy:25 USD,sale:30 USD</p>
          </div>
           <div class="singlegetway">
            <img src="./temp/img/images/allinco_03.png" alt="" width="50px">
            <p>buy:25 USD,sale:30 USD</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="rating" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
         <div class="owl-carousel owl-theme">
            <div class="item">
              <div class="content m-3 p-3 single-review bg-white text-center">
                <div class="text-center">
                 <img src="./temp/img/av.jpg" class="rounded-circle m-auto" style="width:100px;" alt=""></div>
                  <p class="p-1">Safety is integrated within Loram’s core vour property and our people. Loram complies with all occupational reg.Safety is integrated within Loram’s core vour property and our people. core vour property and our people. L Loram complies with all occupational reg</p>
              </div>
            </div>
             <div class="item">
              <div class="content m-3 p-3 single-review bg-white text-center">
                <div class="text-center">
                 <img src="./temp/img/av.jpg" class="rounded-circle m-auto" style="width:100px;" alt=""></div>
                   <p class="p-1">Safety is integrated within Loram’s core vour property and our people. Loram complies with all occupational reg.Safety is integrated within Loram’s core vour property and our people. core vour property and our people. L Loram complies with all occupational reg</p>
              </div>
            </div>
             <div class="item">
              <div class="content m-3 p-3 single-review bg-white text-center">
                <div class="text-center">
                 <img src="./temp/img/av.jpg" class="rounded-circle m-auto" style="width:100px;" alt=""></div>
                  <p class="p-1">Safety is integrated within Loram’s core vour property and our people. Loram complies with all occupational reg.Safety is integrated within Loram’s core vour property and our people. core vour property and our people. L Loram complies with all occupational reg</p>
              </div>
            </div>
             <div class="item">
              <div class="content m-3 p-3 single-review bg-white text-center">
                <div class="text-center">
                 <img src="./temp/img/av.jpg" class="rounded-circle m-auto" style="width:100px;" alt=""></div>
                   <p class="p-1">Safety is integrated within Loram’s core vour property and our people. Loram complies with all occupational reg.Safety is integrated within Loram’s core vour property and our people. core vour property and our people. L Loram complies with all occupational reg</p>
              </div>
            </div>
        </div>
      </div>
      <div class="right col-md-8 pl-4">
        <div class="ml-5">
          <h3 class="text-white">Our Inovaton are chaning the world</h3>
          <img src="./temp/img/starsretins.png" alt="" width="250px;">
          <br>
          <span class="text-white">Excellent</span>
          <br>
          <br>
          <a href="" class="btn thisbtn text-white border-r25">Place your revirw Sumbit</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="startsections">
 <div id="startsection">
  </div> 
   <div class="startcontent">
      <h3>Ready to go Beyond? Start today with our free payment solution</h3>
      <div>
        <a href="" class="px-3 m-3 btn btn-outline-primary">Login</a>
          <a href="" class="btn btn-primary thisbtn">Register</a>
      </div>
  </div>
</section>

<section id="service" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-0 col-lg-1"></div>
      <div class="col-md-2 col-lg-1 col-6 col-sm-3 text-center">
        <img src="./temp/img/images/allinco_01.png" alt="" width="80px">
      </div>
       <div class="col-md-2 col-lg-1 col-6 col-sm-3 text-center">
        <img src="./temp/img/images/allinco_02.png" alt="" width="80px">
      </div>
       <div class="col-md-2 col-lg-1 col-6 col-sm-3 text-center">
        <img src="./temp/img/images/allinco_03.png" alt="" width="80px">
      </div>
      <div class="col-md-2 col-lg-1 col-6 col-sm-3 text-center">
        <img src="./temp/img/images/allinco_04.png" alt="" width="80px">
      </div> <div class="col-md-2 col-lg-1 col-6 col-sm-3 text-center">
        <img src="./temp/img/images/allinco_16.png" alt="" width="80px">
      </div> <div class="col-md-2 col-lg-1 col-6 col-sm-3 text-center">
        <img src="./temp/img/images/allinco_06.png" alt="" width="80px">
      </div> <div class="col-md-2 col-lg-1 col-6 col-sm-3 text-center">
        <img src="./temp/img/images/allinco_13.png" alt="" width="80px">
      </div> <div class="col-md-2 col-lg-1 col-6 col-sm-3 text-center">
        <img src="./temp/img/images/allinco_15.png" alt="" width="80px">
      </div> <div class="col-md-2 col-lg-1 col-6 col-sm-3 text-center">
        <img src="./temp/img/images/allinco_09.png" alt="" width="80px">
      </div> <div class="col-md-2 col-lg-1 col-6 col-sm-3 text-center">
        <img src="./temp/img/images/allinco_11.png" alt="" width="80px">
      </div>
      <div class="col-md-2 col-lg-1"></div>
    </div>
  </div>
</section>
  
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
         <img class="logoddd" src="./temp/img/logo1.png" alt="" width="350px">
         <div class="lists">
            <a href="#">EHT</a>
            <a href="#">Exchange</a>
            <a href="#">Contect</a>
            <a href="#">Review</a>
            <a href="#">Rules</a>
            <a href="#">Help</a>
            <a href="#">FAQS</a>
            <a href="#">Privacy & Policy</a>
        </div>
        <p class="text-right"><a class="text-white" href="">@2019-2019</a></p>
      </div>
      <div class="col-md-2">
        <h4 class="text-white">Follow Us</h4>
        <img src="./temp/img/images/allinco_05.png" alt="" width="40px">
        <img src="./temp/img/images/allinco_07.png" alt="" width="40px">
      </div>
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/temp/scripts/vue.js"></script>
<script src="temp/scripts/owl.carousel.min.js"></script>
<script src="https://unpkg.com/vue-multiselect@2.1.0"></script>
<link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">
<script src="/temp/scripts/vuebit.js"></script>
<script>
  $('.owl-carousel').owlCarousel({
      loop:true,
      margin:10,
      nav:true,
      responsive:{
          0:{
              items:1
          },
          600:{
              items:1
          },
          1000:{
              items:1
          }
      }
  })
</script>
</body>
</html>
